[submodule "bundle/vim-vmath"]
	path = bundle/vim-vmath
	url = https://github.com/nixon/vim-vmath.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "bundle/vim-quantum"]
	path = bundle/vim-quantum
	url = https://github.com/tyrannicaltoucan/vim-quantum.git
[submodule "bundle/onedark.vim"]
	path = bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
